src/main/resources/backendSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Mon Jul 06 2020 10:13:03 GMT+0100 (British Summer Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="Book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"></xs:element>
                <xs:element name="isbn" type="xs:string"></xs:element>
                <xs:element name="subtitle" type="xs:string"></xs:element>
                <xs:element name="title" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>